extends ../layouts/default

mixin lore(lore)
	.lore(data-ks-editable=editable(user, { list: 'Lore', id: lore.id }))
		h2: a(href='/codex/lore/' + lore.slug)= lore.title
		p.lead.text-muted Posted
			if lore.publishedDate
				| on #{lore._.publishedDate.format('MMMM Do, YYYY')}
			if lore.races && lore.races.length
				| in
				each race, i in lore.races
					a(href='/codex/' + race.key)= race.name
					if i < lore.races.length - 1
						| ,
					else
						| 
			if lore.author
				| by #{lore.author.name.first}
		if lore.image.exists
			img(src=lore._.image.fit(160,160)).img.pull-right
		p!= lore.content.brief
		if lore.content.extended
			p.read-more: a(href='/codex/lore/' + lore.slug) Read more...

block intro
	.container
		h1= data.race? data.race.name : 'Codex'

block content
	.container: .row
		.col-sm-8.col-md-9
			if filters.race && !data.race
				h3.text-muted Invalid Race.
			else
				if data.lores.results.length
					if data.lores.totalPages > 1
						h4.text-weight-normal Showing
							strong #{data.lores.first}
							|  to
							strong #{data.lores.last}
							|  of
							strong #{data.lores.total}
							|  lores.
					else
						h4.text-weight-normal Showing #{utils.plural(data.lores.results.length, '* lore')}.
					.codex
						each lore in data.lores.results
							+lore(lore)

					if data.lores.totalPages > 1
						ul.pagination
							if data.lores.previous
								li: a(href='?page=' + data.lores.previous): span.glyphicon.glyphicon-chevron-left
							else
								li.disabled: a(href='?page=' + 1): span.glyphicon.glyphicon-chevron-left
							each p, i in data.lores.pages
								li(class=data.lores.currentPage == p ? 'active' : null)
									a(href='?page=' + (p == '...' ? (i ? data.lores.totalPages : 1) : p ))= p
							if data.lores.next
								li: a(href='?page=' + data.lores.next): span.glyphicon.glyphicon-chevron-right
							else
								li.disabled: a(href='?page=' + data.lores.totalPages): span.entypo.glyphicon.glyphicon-chevron-right
				else
					if data.race
						h3.text-muted There is no lore in this race #{data.race.name}.
					else
						h3.text-muted There is no lore yet.

		if data.races.length
			.col-sm-4.col-md-3
				h2 Races
				.list-group(style='margin-top: 70px;')
					a(href='/codex', class=!data.race? 'active' : false).list-group-item All Races
					each race in data.races
						a(href='/codex/' + race.key, class=data.race && data.race.id == race.id ? 'active' : false).list-group-item= race.name
